/* Import Robotofont from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply Roboto font to the entire document */
body {
    background-color: #92becf !important;
    font-family: 'Times New Roman', Times, serif !important; /* Set Roboto as the default font */
}
/* Make the marked content bold */
.test-list-item .test-item {
    font-weight: bold !important;
}
.test-list-item .test-item {
    font-weight: bold !important; /* Apply bold styling */
    font-size: 16px; /* Adjust font size if needed */
    color: #001f4d; /* Ensure text color matches the example */
}
.transitions {
    color: #ffffff !important; /* changed to white */
}
/* Keep existing styles */
.nav-logo .logo {
    background-image: url('./Evantech Logo_New.png')!important;
    background-size: cover !important;
}
/*
.header .vheader .nav-logo>a .logo {
    min-height: 70px !important;
}
*/
.header .vheader .nav-logo {
    width: 1000px !important;
    padding: 10px 21px;
}

.header {
    background-color: #eaf9ff !important;
}

.vcontainer .main-content {
    padding: 84px 0 0 !important;
}

.header, .header .vheader .nav-left>li>a, .header .vheader .nav-right>li>a {
    height: 84px !important;
}


.side-nav {
	background-color:  #eaf9ff; !important; /* ink blue color for left margin */
    top: 84px !important;
}
.side-nav .side-nav-inner {
    background-color: #eaf9ff; !important; /* ensure full fill */
}

.card .card-body {
    min-height: 139px !important;
}

.card {
    border: 1px solid #c3c3c3 !important;
    border-radius: 10px !important;
}

.card-body > p {
    font-size: 25px !important;
}

.card-body > h3 {
    font-size: 19px !important;
}

.card-title {
    font-size: 19px !important;
}

.nav-left .search-box {
    display: none !important;
}

.nav-left > .search-box {
    display: none !important;
}

.nav-right li:nth-child(1) {
    display: none!important;
}

.badge {
    font-size: 100% !important;
}

.badge-primary {
    background-color: #1486b0 !important;
}

.header::before {
    content: "Evantech Solutions Report";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    font-weight: bold;
    color:  #001f4d;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: #dfcfd8 !important;
}

.test-wrapper .test-list .test-list-wrapper .test-list-item .test-item {
    border-bottom: 1px solid #dfcfd8 !important;
}

.vcontainer .main-content {
    padding-top: 10px !important;
}

.ne {
    right: 83px !important;
    top: 127px !important;
}

.test-wrapper .test-content .test-content-detail {
    padding: 74px 20px !important;
    padding-top: 0px !important;
}

@media only screen and (min-width: 992px) {
    .test-wrapper .test-list .test-list-wrapper {
        height: calc(100vh - 106px) !important;
    }
}

.test-wrapper .test-list .test-list-tools {
    padding: 5px 15px;
    border-bottom: 1px solid #e9eaec;
    text-align: right;
    display: block;
    margin-top: 20%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;
}

.side-nav .side-nav-inner .side-nav-menu {
    border-right: 2px solid #bbb4b5 !important;
}

.test-wrapper .test-list {
    border-top: 2px solid #bbb4b5 !important;
    border-right: 2px solid #bbb4b5 !important;
}

.test-wrapper .test-list .test-list-tools {
    margin-top: 0px !important;
}

.vcontainer .main-content .test-wrapper {
    margin-top: 73px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

.side-nav .side-nav-inner {
    border-top: 2px solid #bbb4b5 !important;
}

.test-wrapper .test-content {
    border-top: 2px solid #bbb4b5 !important;
}

pre, .code-block {
    background-color: #c1c1c1 !important;
    color: #001f4d !important;
}

.container-fluid {
    margin-top: 74px !important;
    padding: 0px !important;
    border-top: 2px solid #bbb4b5 !important;
}

.row {
    padding-top: 24px !important;
    padding-right: 16px !important;
    padding-left: 21px !important;
    padding-bottom: 0px !important;
}

.element.style {
    height: 160px !important;
}

.badge badge-default {
    display: none !important;
}

.uri-anchor {
    display: none !important;
}

#parent-analysis {
    display: block;
    width: 352px;
    height: 160px;
}

#child-analysis {
    display: block;
    width: 352px;
    height: 160px;
}

#events-analysis {
    display: block;
    width: 352px;
    height: 160px;
}

li .badge-default {
    display: none !important;
}